<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="stylesheet" href="/css/detalleObra.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/imagenes/IMGL5368.jpeg">
        <title>Manuel Siguenza</title>
    
    </head>
<body>
    <%- include("../partials/header") %>
    <% if (obraElegida) {%>
    <article>
        <img src="<%= obraElegida.imagen %>" alt="una-obra-de-arte"> <br>
        <div class="detalle-obra">
            <h2 class="titulo-obra"><%= obraElegida.nombre_año %></h2>
        <div class="precio-boton">
           <h2 class="precio-obra"><%= obraElegida.precio %></h2> 
           

            <button class="boton-comprar">
               <a  class="comprar" href="">Comprar</a> 
            </button>
        </div>
            
        <p class="descripcion-obra"><%= obraElegida.descripción %>
        </p>
       
        </div>
    </article>

    <form method="POST" action="/obras/eliminar/<%= obraElegida.id %>?_method=DELETE" style="display: inline-flex">
        <button type="submit" class="action-button-delete">ELIMINAR</button>
    </form>

    
    <form method="POST" action="/editar/<%= obraElegida.id %>?_method=PUT" style="display: inline-flex">
        <button type="submit" class="action-button-edit">EDITAR</button>
    </form>
    


   
    <% } %>

    <%- include("../partials/footer") %>




</body>
</html>
