<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="stylesheet" href="/css/detalleObra.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/imagenes/IMGL5368.jpeg">
        <title>Manuel Siguenza</title>
    
    </head>
<body>
    <%- include("../partials/header") %>
    <% if (muestraElegida) {%>
        <h1 class="titulo-muestra"><%= muestraElegida.titulo %></h1>
        <p class="descripcion-muestra"><%= muestraElegida.descripcion %></p>
    <div class="contenedorDetalleMuestras">
        <div class="obra">
        <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen1 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen2 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen3 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen4 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen5 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen6 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen7 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen8 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen9 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen10 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen11 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen12 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen13 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen14 %>" alt="imagen de obra">
        </div>
        <div class="obra">
            <img class="imagenMuestra" src="/imagenes/<%= muestraElegida.imagen15 %>" alt="imagen de obra">
        </div>

    </div>
    <br>
    <br>
    <form method="POST" action="/muestras/eliminar/<%= muestraElegida.id %>?_method=DELETE" style="display: inline-flex">
        <button type="submit" class="action-button-delete">ELIMINAR</button>
    </form>
        <button type="submit" class="action-button-edit">
            <a href="/muestras/editar/<%= muestraElegida.id %>">EDITAR</a>
        </button>
        <button type="submit" class="action-button-edit">
            <a href="/muestras/crear/<%= muestraElegida.id %>">CREAR</a>
        </button>
    
    <% } %>
    <%- include("../partials/footer") %>
</body>
</html>